header {
    display: flex;
    justify-content: space-between;
    background-color: #66b3ff;
    padding: 12px;
    color: white;

}

header h1 {
    font-size: 1.5em;
    font-weight: 400;
}

button {
    font-size: 0.8rem;
    border: none;
    background-color: #9494b8;
    text-transform: uppercase;
    padding: 0.5em 3em;
    border-radius: 4px;
    font-weight: 600;
}

.search {
    display: flex;
}

.search input {
    width: 12em;
    margin-right: 5px;
}

.map {
    background-color: cadetblue;
    height: calc(100vh - 52.8px);
}
